In [18]:
from rdflib import Graph, Literal, RDF, URIRef, Namespace 
from rdflib.namespace import FOAF , XSD, SSN, SOSA 
import urllib.parse
import pandas as pd 
import matplotlib.pylab as plt
from matplotlib import pyplot

In [19]:
df = pd.read_csv('SoilNu.csv')

In [20]:
df.tail(2)

,Identifier,Site,Land_Use,Plot_Name,Subplot,NO3_N,NH4_N,Total_N,Ca,Mg,...,P,Fe,Mn,Cu,Zn,B,S,Pb,Al,Cd
79,SOP92,SAFE Project - Kalabakan Forest Reserve,Oil Palm,OP,9,153.04,6.98,160.02,464.40,544.23,...,6.62,23.79,191.15,0.50,2.38,0.14,342.49,1.46,179.74,0.00
80,SOP93,SAFE Project - Kalabakan Forest Reserve,Oil Palm,OP,9,18.14,7.48,25.62,204.13,149.27,...,0.70,8.57,13.77,0.24,0.98,0.09,92.57,0.55,137.47,0.04

In [21]:
g = Graph()
ID = Namespace('SoilNutrients_')
SOSA = Namespace('http://www.w3.org/ns/sosa/')
UNIT= Namespace('http://qudt.org/vocab/unit/')
schema = Namespace('http://schema.org/')
uri=URIRef('http://www.w3.org/2000/01/rdf-schema#')
OBSPRO= Namespace('http://www.w3.org/ns/sosa/ObservableProperty/')
FEATURE= Namespace('http://www.w3.org/ns/sosa/FeatureOfInterest/')
TIME = Namespace('http://www.w3.org/2006/time#')
VOID = Namespace('http://rdfs.org/ns/void#')
XMLNS = Namespace('http://www.w3.org/XML/1998/namespace')

In [22]:
for index, row in df.iterrows():
    g.add((URIRef(ID+row['Identifier']), RDF.type, SOSA.Observation))
    
    g.add((URIRef(ID+row['Identifier']), SOSA.Observation, Literal(row['Identifier'], datatype=XSD.string)))
    
    g.add((URIRef(ID+row['Identifier']), URIRef(schema+'Soil_Nutrients'), Literal(row['Identifier'], datatype=XSD.string)))
      
    g.add((URIRef(ID+row['Identifier']), FEATURE.Site, Literal(row['Site'], datatype=XSD.string)))
    
    g.add((URIRef(ID+row['Identifier']), schema.Land_Use, Literal(row['Land_Use'], datatype=XSD.string)))
    
    g.add((URIRef(ID+row['Identifier']), schema.Plot_Name, Literal(row['Plot_Name'], datatype=XSD.string)))
    
    g.add((URIRef(ID+row['Identifier']), FEATURE.Subplot, Literal(row['Subplot'], datatype=XSD.integer)))  
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.NO3_N, Literal(row['NO3_N'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.NH4_N, Literal(row['NH4_N'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Total_N, Literal(row['Total_N'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Ca, Literal(row['Ca'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Mg, Literal(row['Mg'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.K, Literal(row['K'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.P, Literal(row['P'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Fe, Literal(row['Fe'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Mn, Literal(row['Mn'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Cu, Literal(row['Cu'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Zn, Literal(row['Zn'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.B, Literal(row['B'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.S, Literal(row['S'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Pb, Literal(row['Pb'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Al, Literal(row['Al'], datatype=XSD.float)))
    
    g.add((URIRef(ID+row['Identifier']), OBSPRO.Cd, Literal(row['Cd'], datatype=XSD.float)))

In [23]:
# print(g.serialize(format='turtle').decode('UTF-8'))

In [24]:
# saving ontology to disk
g.serialize('SoilNut.rdf', format='ttl')

In [75]:
# # Code to add data to stardog 
# import stardog

# conn_details = {
#   'endpoint': 'http://localhost:5820',
#   'username': 'admin',
#   'password': 'admin'
# }
# with stardog.Admin(**conn_details) as admin:
#     Aqeela = admin.new_database('Aqeela')

# conn = stardog.Connection('Aqeela', **conn_details)

# conn.begin()

# conn.add(
#     stardog.content.File('Aqeela.rdf', stardog.content_types.TURTLE),
# #     graph_uri=graph_uri)
# conn.commit()

In [76]:
# # Code to add data to stardog shared database  
# import stardog

# conn_details = {
#   'endpoint': 'https://stardog.cs.cf.ac.uk',
#   'username': 'c1887413',
#   'password': 'd5XPMny3epjcBgE'}

# conn = stardog.Connection('forest_observatory', **conn_details)

# conn.begin()

# conn.add(
#     stardog.content.File('SoilPro.rdf', stardog.content_types.TURTLE),

# conn.commit()

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_6232/1032307845.py, line 16)