In [1]:
from rdflib import Graph, Literal, RDF, URIRef, Namespace 
from rdflib.namespace import FOAF , XSD, SSN, SOSA 
import urllib.parse
import pandas as pd 
import matplotlib.pylab as plt
from matplotlib import pyplot

In [2]:
df = pd.read_csv('lianas.csv')

In [3]:
df['ID1'] = df.index + 1

In [4]:
df

,Site_name,Plot_no,Site_plot_code,Date,Tree_individual_no,Tree_ID,Tree_dbh_cm,Tree_height_m,Tree_N_lianas,Liana_dbh_cm,Tree_notes,Subplot_radius_m,ID1
0,Danum W15,1,F1P1,2017-07-21,2,Shorea pauciflora,110.0,60.0,3,10.0,NaN,30,1
1,Danum W15,1,F1P1,2017-07-21,2,Shorea pauciflora,110.0,60.0,3,9.0,NaN,30,2
2,Danum W15,1,F1P1,2017-07-21,2,Shorea pauciflora,110.0,60.0,3,9.8,NaN,30,3
3,Danum W15,1,F1P1,2017-07-21,3,Syzygium,40.5,NaN,1,3.4,NaN,30,4
4,Danum W15,1,F1P1,2017-07-21,5,Syzygium,62.7,NaN,1,3.4,NaN,30,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3065,Danum Malua,1,F18P1,2017-10-28,3893,Shorea,15.0,NaN,4,2.3,NaN,20,3066
3066,Danum Malua,1,F18P1,2017-10-28,3895,Macaranga gigantea,39.0,27.0,4,5.0,NaN,30,3067
3067,Danum Malua,1,F18P1,2017-10-28,3895,Macaranga gigantea,39.0,27.0,4,2.5,NaN,30,3068
3068,Danum Malua,1,F18P1,2017-10-28,3895,Macaranga gigantea,39.0,27.0,4,3.5,NaN,30,3069
3069,Danum Malua,1,F18P1,2017-10-28,3895,Macaranga gigantea,39.0,27.0,4,4.0,NaN,30,3070

In [5]:
df['ID'] ='lianas' + df['ID1'].astype(str)

In [6]:
df.tail(2)

,Site_name,Plot_no,Site_plot_code,Date,Tree_individual_no,Tree_ID,Tree_dbh_cm,Tree_height_m,Tree_N_lianas,Liana_dbh_cm,Tree_notes,Subplot_radius_m,ID1,ID
3068,Danum Malua,1,F18P1,2017-10-28,3895,Macaranga gigantea,39.0,27.0,4,3.5,NaN,30,3069,lianas3069
3069,Danum Malua,1,F18P1,2017-10-28,3895,Macaranga gigantea,39.0,27.0,4,4.0,NaN,30,3070,lianas3070

In [7]:
g = Graph()
ID = Namespace('foo_')
sosa = Namespace('http://www.w3.org/ns/sosa/')
foo = Namespace('http://www.ontology/ns/foo/1.1#')
lat = Namespace('http://www.w3.org/2003/01/geo/wgs84_pos#')
long =Namespace('http://www.w3.org/2003/01/geo/wgs84_pos#')
alt = Namespace('http://www.w3.org/2003/01/geo/wgs84_pos#')
schema = Namespace('http://schema.org/')

In [9]:
for index, row in df.iterrows():
    g.add((URIRef(ID+row['ID']), RDF.type, sosa.Observation)) 
    g.add((URIRef(ID+row['ID']), foo.ID, Literal(row['ID'], datatype=XSD.string))) 
    
    g.add((URIRef(schema+'lianas'), RDF.type, sosa.FeatureOfInterest)) 
    g.add((URIRef(ID+row['ID']), URIRef(schema+'lianas'), Literal(row['ID'], datatype=XSD.string)))   
    
    g.add((URIRef(schema+schema+'VegetationSensor'), RDF.type, sosa.Sensor)) 
    g.add((URIRef(ID+row['ID']), URIRef(schema+'VegetationSensor'), Literal(row['ID'], datatype=XSD.string)))    
      
    g.add((URIRef(foo+'Site_name'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Site_name, Literal(row['Site_name'], datatype=XSD.string)))
        
    g.add((URIRef(foo+'Plot_no'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Plot_no, Literal(row['Plot_no'], datatype=XSD.integer)))
    
    g.add((URIRef(foo+'Site_plot_code'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Site_plot_code, Literal(row['Site_plot_code'], datatype=XSD.string)))
    
    g.add((URIRef(foo+'Date'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Date, Literal(row['Date'], datatype=XSD.date)))
    
    g.add((URIRef(foo+'Tree_individual_no'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Tree_individual_no, Literal(row['Tree_individual_no'], datatype=XSD.integer)))
    
    g.add((URIRef(foo+'Tree_ID'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Tree_ID, Literal(row['Tree_ID'], datatype=XSD.string)))
    
    g.add((URIRef(foo+'Tree_dbh_cm'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Tree_dbh_cm, Literal(row['Tree_dbh_cm'], datatype=XSD.float)))
    
    g.add((URIRef(foo+'Tree_height_m'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Tree_height_m, Literal(row['Tree_height_m'], datatype=XSD.float)))
    
    g.add((URIRef(foo+'Liana_dbh_cm'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Liana_dbh_cm, Literal(row['Liana_dbh_cm'], datatype=XSD.float)))
    
    g.add((URIRef(foo+'Tree_notes'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Liana_dbh_cm, Literal(row['Tree_notes'], datatype=XSD.string)))
    
    g.add((URIRef(foo+'Subplot_radius_m'), RDF.type, sosa.observedProperty))
    g.add((URIRef(ID+row['ID']), foo.Subplot_radius_m, Literal(row['Subplot_radius_m'], datatype=XSD.integer)))

In [ ]:
print(g.serialize(format='turtle'))

In [10]:
# saving ontology to disk
g.serialize('lianas1.rdf', format='ttl')

In [ ]:
# # Code to add data to stardog 
# import stardog

# conn_details = {
#   'endpoint': 'http://localhost:5820',
#   'username': 'admin',
#   'password': 'admin'
# }
# with stardog.Admin(**conn_details) as admin:
#     Aqeela = admin.new_database('Aqeela')

# conn = stardog.Connection('Aqeela', **conn_details)

# conn.begin()

# conn.add(
#     stardog.content.File('Aqeela.rdf', stardog.content_types.TURTLE),
# #     graph_uri=graph_uri)
# conn.commit()

In [ ]:
# # Code to add data to stardog shared database  
# import stardog

# conn_details = {
#   'endpoint': 'https://stardog.cs.cf.ac.uk',
#   'username': 'c1887413',
#   'password': 'd5XPMny3epjcBgE'}

# conn = stardog.Connection('forest_observatory', **conn_details)

# conn.begin()

# conn.add(
#     stardog.content.File('SoilPro.rdf', stardog.content_types.TURTLE),

# conn.commit()